.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 94px 50px;
}

.header__links-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 13px;
  list-style: circle;
  font-size: 18px;
  margin-right: 30px;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-style: normal;
}

.address-link,
.address-text {
  display: flex;
  align-items: flex-start;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.header__address {
  margin-left: 187px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cover {
  width: 1100px;
  min-height: 757px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.cover h1 {
  color: white;
  font-size: 100px;
  line-height: 110px;
  letter-spacing: 0.3em;
  align-items: center;
  text-transform: uppercase;
}

.cover__title {
  padding: 165px 50px 106px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  letter-spacing: 0.3em;
}

.aligned-text_left {
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
  letter-spacing: 0.22em;
}

.aligned-text_right {
  align-self: flex-end;
  letter-spacing: 0.22em;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 4px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  word-spacing: 83%;
  font-style: normal;
  text-transform: uppercase;
  color: white;
}

.bet-button {
  padding: 12px 32px 11px 31px;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;
  align-items: center;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.lots {
  margin-top: 186px;
  width: 1052px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 0 40px 27px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  margin-bottom: 33px;
  list-style: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 600px;
  color: white;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card_film {
  background-position: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/card-lot-01.jpg);
}

.card_book {
  background-position: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/card-lot-02.jpg);
}

.card_picture {
  background-position: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/card-lot-03.jpg);
}

.card_type_base {
  min-height: 600px;
  min-width: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  padding: 48px 40px;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 122%;
  letter-spacing: 0;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 118px;
  width: 1052px;
}

.about__column-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 595px;
  min-width: 334px;
}

.about__column {
  margin-left: 25px;
  margin-top: 5px;
}

.about__logo {
  margin-top: 33px;
  background-color: black;
  width: 240px;
  height: 240px;
  padding: 46px;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 132px 0 100px;
}

.about__text {
  margin-top: 24px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.footer {
  margin-top: 178px;
  width: 1100px;
  min-height: 180px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.footer__address {
  width: 265px;
  margin-left: 51px;
}

.footer__menu {
  grid-column: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 149px;
  font-size: 18px;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  grid-column: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
  margin-left: 136px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
